@using Bootstrap.Pagination
@using BPM.Service
@using BPM.Service.Models
@{
    var pagination = ViewData["pagination"] as Pagination;
    var departments = ViewData["departments"] as List<DepartmentDTO>;
    var name = ViewData["name"] as string;
    var departmentId = ViewData["departmentId"] as string;
    var allDepartments = ViewData["allDepartments"] as List<DepartmentDTO>;
    var allRoles = ViewData["allRoles"] as List<RoleDTO>;
}
<h2 class="text-center">@Protocols.DEPARTMENT_MANAGEMENT</h2>
<div style="float: left;">
    <form class="form-inline" onsubmit=" return false; ">
        名称：
        <div class="form-group">
            <input type="text" class="form-control" value="@name" id="queryConditionOfName" placeholder="名称">
        </div>
        所属部门：
        <div class="form-group">
            <select class="form-control" id="queryConditionOfDepartment">
                @if (string.IsNullOrEmpty(departmentId))
                {
                    <option value="" selected="selected">不限</option>
                }
                else
                {
                    <option value="">不限</option>
                }
                @foreach (var department in allDepartments)
                {
                    if (department.ID == departmentId)
                    {
                        <option selected="selected" value="@department.ID">@department.Name</option>
                    }
                    else
                    {
                        <option value="@department.ID">@department.Name</option>
                    }
                }
            </select>
        </div>
        <button class="btn btn-primary" onclick=" departmentManagement(1, 1);return false; ">查询</button>
    </form>
</div>
<div style="float: right;">
    <button class="btn btn-primary" onclick=" DepartmentManagement.createNewOne(); return false; ">新增</button>
</div>
<div style="clear: both;"></div>
<br/>
<table class="table table-bordered">
    <tr>
        <th>序号</th>
        <th>名称</th>
        <th>所属部门</th>
        <th>操作</th>
    </tr>
    @for (var i = 0; i < departments.Count; i++)
    {
        var department = departments[i];
        <tr>
            <td>@pagination.GetItemIndex(i)</td>
            <td>@department.Name</td>
            <td>@department.ParentDepartmentName</td>
            <td>
                <a href="javascript:void(0);" class="btn btn-primary" onclick="DepartmentManagement.editThis('@department.ID') ">修改</a>
                <a href="javascript:void(0);" data-target="#confirm_delete" data-toggle="modal" class="btn btn-danger" onclick="DepartmentManagement.deleteThis('@department.ID', '@department.Name') ">删除</a>
            </td>
        </tr>
    }
</table>
@Html.Partial("Pagination")
<div id="detail" style="display: none; margin-left: auto; margin-right: auto;">
    <h4 class="text-center">部门编辑</h4>
    <form role="form" class="form-horizontal" name="form" method="POST" onsubmit=" return false; ">
        <input type="hidden" id="id" name="id" />
        <div class="form-group">
            <label class="col-sm-2 control-label" for="name">名称：</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" placeholder="名称">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="name">所属部门：</label>
            <div class="col-sm-10">
                <select class="form-control" id="parentDepartment">
                    <option value="">无</option>
                    @foreach (var department in allDepartments)
                    {
                        <option value="@department.ID">@department.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="roles">角色：</label>
            <div class="col-sm-10">
                @foreach (var role in allRoles.OrderBy(p => p.Name))
                {
                    <label class="checkbox-inline">
                        <input type="checkbox" name="roles" value="@role.ID"> @role.Name
                    </label>
                }
            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-primary" onclick="DepartmentManagement.saveThis(@(pagination.Page), @(pagination.Group) );return false; ">保存</button>
            &nbsp;
            <button class="btn" onclick=" cancelThis(); return false; ">取消</button>
        </div>
    </form>
</div>
<div id="confirm_delete" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">删除部门</h3>
            </div>
            <div class="modal-body">
                <p>是否确认删除部门 <span id="nameDeleting"></span> ？<span id="idDeleting"></span></p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true" >关闭</button>
                <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true" onclick="DepartmentManagement.confirmDelete(@(pagination.Page), @(pagination.Group)); ">确认删除</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function navigateTo(page, group) {
        departmentManagement(page, group);
    }
</script>