@using Bootstrap.Pagination
@using BPM.Service
@using BPM.Service.Models
@{
    var pagination = ViewData["pagination"] as Pagination;
    var roles = ViewData["roles"] as List<RoleDTO>;
    var name = ViewData["name"] as string;
}
<h2 class="text-center">@Protocols.ROLE_MANAGEMENT</h2>
<div style="float: left;">
    <form class="form-inline" onsubmit=" return false; ">
        名称：
        <div class="form-group">
            <input type="text" class="form-control" value="@name" id="queryConditionOfName" placeholder="名称">
        </div>
        <button class="btn btn-primary" onclick=" roleManagement(1, 1);return false; ">查询</button>
    </form>
</div>
<div style="float: right;">
    <button class="btn btn-primary" onclick=" RoleManagement.createNewOne(); return false; ">新增</button>
</div>
<div style="clear: both;"></div>
<br/>
<table class="table table-bordered">
    <tr>
        <th>序号</th>
        <th>名称</th>
        <th>操作</th>
    </tr>
    @for (var i = 0; i < roles.Count; i++)
    {
        var role = roles[i];
        <tr>
            <td>@pagination.GetItemIndex(i)</td>
            <td>@role.Name</td>
            <td>
                <a class="btn btn-primary" onclick=" RoleManagement.editThis('@role.ID') ">修改</a>
                <a data-target="#confirm_delete" data-toggle="modal" class="btn btn-danger" onclick=" RoleManagement.deleteThis('@role.ID', '@role.Name') ">删除</a>
            </td>
        </tr>
    }
</table>
@Html.Partial("Pagination")
<div id="detail" style="display: none; margin-left: auto; margin-right: auto;">
    <h4 class="text-center">角色编辑</h4>
    <form role="form" class="form-horizontal" name="form" method="POST" onsubmit=" return false; ">
        <input type="hidden" id="id" name="id"/>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="name">名称：</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" placeholder="名称">
            </div>
        </div>
        @foreach (var pair in Protocols.AllPermissions)
        {
            <div class="form-group">
                <label class="col-sm-2 control-label">@pair.Key：</label>
                <div class="col-sm-10">
                    @foreach (var permission in pair.Value)
                    {
                        <label class="checkbox-inline">
                            <input type="checkbox" name="permissions" value="@((int)(permission))"> @Protocols.DisplayedPermissions[permission]
                        </label>
                    }
                </div>
            </div>
        }
        <div class="text-center">
            <button class="btn btn-primary" onclick=" RoleManagement.saveThis(@pagination.Page, @pagination.Group); return false; ">保存</button>
            &nbsp;
            <button class="btn" onclick=" RoleManagement.cancelThis(); return false; ">取消</button>
        </div>
    </form>
</div>
<div id="confirm_delete" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">删除角色</h3>
            </div>
            <div class="modal-body">
                <p>是否确认删除角色 <span id="nameDeleting"></span> ？<span id="idDeleting"></span></p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true" >关闭</button>
                <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true" onclick=" RoleManagement.confirmDelete(@pagination.Page, @pagination.Group); ">确认删除</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function navigateTo(page, group) {
        roleManagement(page, group);
    }
</script>