@using Vex
@using Vex.DbModels
@using Vex.Services
@{
    var currentUser = new AccountService().CurrentUser;
}
<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>title</title>
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/bootstrap-datepicker3.css" rel="stylesheet"/>
        
        <style>
            .wait { cursor: wait; }

            .hand { cursor: pointer; }

            .cover {
                background: #808080;
                bottom: 0;
                display: none;
                filter: alpha(opacity: 50);
                left: 0;
                opacity: 0.5;
                position: fixed;
                right: 0;
                top: 0;
            }
        </style>

        <script src="~/Scripts/jquery-1.9.1.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/bootstrap-datepicker.js"></script>
        <script src="~/Scripts/bootstrap-datepicker.zh-CN.js"></script>
        <script src="~/Scripts/jqBootstrapValidation-1.3.7.min.js"></script>
        
        <!--[if lt IE 9]>
            <script src="~/Scripts/html5shiv.js"></script>
            <script src="~/Scripts/respond.min.js"></script>
            <script src="~/Scripts/es5-shim.min.js"></script>
            <script src="~/Scripts/selectivizr-1.0.2.min.js"></script>
        <![endif]-->
        
        <script type="text/javascript">
            $(document).ajaxSend(function () {
                $("#cover").css("display", "block");
                $("html").addClass("wait");
            });
            $(document).ajaxStop(function () {
                $("#cover").css("display", "none");
                $("html").removeClass("wait");
            });

            function logout() {
                $.post("@Url.Action("ClearSession", "Home")", {}, function() {

                });
                window.open('', '_self', '');
                window.close();
            }
        </script>
    </head>
    <body>
        <div>
            <img style="height: 100px; width: 150px;" src="~/Images/logo.png"/>
            discriptions.
            <div style="position: absolute; right: 5px; top: 50px;">
                @RenderSection("BreadCrumb", false)
            </div>
        </div>
        <nav id="nav" style="position: static;" class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@Url.Action("Index", "Home")">主页 / Home</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        @if (currentUser == null
                             || currentUser.Can(Constants.REGISTER))
                        {
                            <li><a href="@Url.Action("Register", "Account")">会员注册 / Membership Registration</a></li>
                        }
                        @if (currentUser != null
                             && currentUser.Can(Constants.MEMBER_QUERY_AND_EXPORT, Constants.MODIFY_STATUS))
                        {
                            <li><a href="@Url.Action("MemberList", "Account")"> 成员表 / Member List</a></li>
                        }
                        @if (currentUser != null
                             && currentUser.Can(Constants.MODIFY_STATUS))
                        {
                            <li><a href="@Url.Action("BatchUnregistration", "Account")"> 会籍失效 / Member Un-Registration </a></li>
                        }
                    </ul>
            
                    <ul class="nav navbar-nav navbar-right" style="margin-right: 20px;">
                        <li>
                            @if (currentUser != null
                                 && currentUser.Status == UserStatus.Unregistered
                                 && currentUser.Can(Constants.REGISTER))
                            {
                                <a href="@Url.Action("Register", "Account")">@currentUser.GetName()</a>
                            }
                            else if (currentUser != null)
                            {
                                <a href="@Url.Action("ModifyMyProfile", "Account")">@currentUser.GetName()</a>
                            }
                            else
                            {
                                <a href="@Url.Action("Index", "Home")">@HttpContext.Current.User.Identity.Name</a>
                            }
                        </li>
                        <li>
                            <a href="javascript:void(0);"onclick=" logout(); ">登出 / Log out</a>
                        </li>
                        <li>
                            <a href="mailto:example@example.com">联系系统管理员 / Contact system admin</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div id="body" class="container" style="margin-top: 30px;">
            @RenderBody()
        </div>
        
        <div class="container-fluid">
            <p style="height: 10px; text-align: center;">Copyrights - Support information</p>
        </div>
        
        <div id="cover" class="cover"></div>
        
        <script type="text/javascript">
            $(document).scroll(function() {
                if (window.pageYOffset > 100) {
                    $("#nav").css("position", "fixed");
                    $("#body").css("margin-top", "80px");
                } else {
                    $("#nav").css("position", "static");
                    $("#body").css("margin-top", "30px");
                }
            });
        </script>
    </body>
</html>