@using Bootstrap.Pagination
@using BPM.Service
@using BPM.Service.Models
@{
    var pagination = ViewData["pagination"] as Pagination;
    var workAssignments = ViewData["workAssignments"] as List<WorkAssignmentDTO>;
}
<h2 class="text-center">@Protocols.HISTORY</h2>
<table class="table table-bordered">
    <tr>
        <th>序号</th>
        <th>流程</th>
        <th>申请人</th>
        <th>申请日期</th>
        <th>操作</th>
    </tr>
    @for (var i = 0; i < workAssignments.Count; i++)
    {
        var workAssignment = workAssignments[i];
        <tr>
            <td>@pagination.GetItemIndex(i)</td>
            <td>@Protocols.WORK_ASSIGNMENT</td>
            <td>@workAssignment.ApplierName</td>
            <td>@workAssignment.ApplyDate</td>
            <td>
                <a class="btn btn-primary" href="javascript:void(0);" onclick="HistoryProcess.showDetail('@workAssignment.ID'); ">查看</a>
            </td>
        </tr>
    }
</table>
@Html.Partial("Pagination")
<div id="detail" style="display: none;">
    
</div>