@using Bootstrap.Pagination
@using BPM.Service
@using BPM.Service.Models
@{
    var pagination = ViewData["pagination"] as Pagination;
    var unreads = ViewData["unreads"] as List<ReadDTO>;
}
<h2 class="text-center">@Protocols.TO_BE_READ</h2>
<table class="table table-bordered">
    <tr>
        <th>序号</th>
        <th>流程</th>
        <th>发送人</th>
        <th>发送日期</th>
        <th>查看</th>
    </tr>
    @for (var i = 0; i < unreads.Count; i++)
    {
        var unread = unreads[i];
        <tr>
            <td>@pagination.GetItemIndex(i)</td>
            <td>@Protocols.WORK_ASSIGNMENT</td>
            <td>@unread.SenderName</td>
            <td>@unread.SendDate</td>
            <td>
                <a href="javascript:void(0);" class="btn btn-primary" onclick="UnreadList.showDetail('@unread.ProcessID'); ">查看</a>
                &nbsp;
                <a href="javascript:void(0);" class="btn btn-primary" onclick="UnreadList.markedAsRead('@unread.ID',@pagination.Page, @pagination.Group); ">标记为已读</a>
            </td>
        </tr>
    }
</table>
@Html.Partial("Pagination")
<div id="detail" style="display: none;">

</div>